{% extends "base.html" %}


{% block title %}Browser{% endblock %}


{% block head %}
{% endblock %}


{% block content %}
<div id="container" class="container">
    <div id="captions" class="row">
        <h1 id="logo">Call Rob</h1>
        <h2 id="slogan">(wherever the hell he is)</h2>
    </div>

    <div class="five columns offset-by-five">
        <div id="call_controls" class="row">
            <button class="call" onclick="call();">
              Call
            </button>
            <br />
            <button class="hangup" onclick="hangup();">
              Hangup
            </button>
            <div id="log">
                {% if configuration_error %}
                {{ configuration_error }}
                {% else %} 
                Blowing your mind...
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer_js %}
{% if not configuration_error %}
<script type="text/javascript"
  src="http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>
<script type="text/javascript">

  Twilio.Device.setup("{{ token }}");

  Twilio.Device.ready(function (device) {
    $("#log").text("Ready");
  });

  Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
  });

  Twilio.Device.connect(function (conn) {
    $("#log").text("Successfully established call");
  });

  Twilio.Device.disconnect(function (conn) {
    $("#log").text("Call ended");
  });

  Twilio.Device.incoming(function (conn) {
    $("#log").text("Incoming connection from " + conn.parameters.From);
    // accept the incoming connection and start two-way audio
    conn.accept();
  });

  function call() {
    // get the phone number to connect the call to
    Twilio.Device.connect();
    $('.call').fadeOut('fast');
    $('.hangup').fadeIn('fast');
  }

  function hangup() {
    Twilio.Device.disconnectAll();
    $('.hangup').fadeOut('fast');
    $('.call').fadeIn('fast');
  }
</script>
{% endif %}
{% endblock %}
